@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global body */
body {
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-weight: 400;
    /* background-color: #000;
    color: #fff; */
}

/* App container */
.app {
    display: flex;
    justify-content: center;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Buttons */
button {
    cursor: pointer;
    font-family: inherit;
}

/* Utility classes */
.text-muted {
    color: #8899a6;
}